* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

.attribution {
  font-size: 13px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.qr_content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
  padding: 10px;
  width: fit-content;
  max-width: 230px;
  margin-bottom: 10px;
  gap: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.qr_content:hover {
  scale: 1.01;
}

.qr_image_content img {
  width: 200px;
  border-radius: 7px;
}

.title {
  font-size: 15px;
  font-weight: 700;
}

.description {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 15px;
}
